.archive-test {
  margin-top: 1em;
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-test});
    // padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    // padding-right: $right-sidebar-width;
  }

  .list__item {
    margin-bottom: 0.4em;
  }
}

.header-test {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-test});
    // padding-right: $right-sidebar-width-narrow;
  }

  border-bottom: 1px solid $border-color;
}

.post_pagination_div {
  // @include clearfix();
  height: fit-content;
  float: left;
  margin-top: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-test});
  }

  @include breakpoint(max-width $large) {
    width: calc(100%);
  }
}

/*
   Social sharing
   ========================================================================== */

.page__share-test {
  clear: both;
  height: fit-content;
  margin-top: 1em;
  // padding-top: 1em;
  .p {
    margin: 0;
  }
  .btn {
    font-size: small;
  }

  @include breakpoint(max-width $small) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.page__share-title-test {
  border-top: 1px solid $border-color;
  margin-bottom: 0.4em;
  padding-top: 1em;
  font-size: smaller;
  text-transform: uppercase;
  height: fit-content;
}

.comments-div {
  clear: both;
  height: fit-content;
}

.entries-list {
  .list__item {
    margin-bottom: 0.4em;
  }
}

.single4-test {
  margin: 0.2em 0 0 0.2em;
}

.single4-a {
  margin: 0;
  color: white;
  font-size: $type-size-4;
  font-family: $cafe;
  font-weight: normal;
}

.archive-item-test {
  position: relative;
  margin-bottom: $type-size-6;

  a {
    position: relative;
    z-index: 10;
    font-size: $type-size-4;
  }

  a[rel="permalink"] {
    position: static;
  }
}

.no-arrow {
  summary::marker {
    font-size: 0;
  }

  summary {
    text-align: center;
    background-color: #5e6f95;
    color: black;
    font-weight: bolder;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0.2em;
  }
}
